/PIC/PowerSupply_variable.X/nbproject/private/
/PIC/PowerSupply_variable.X/build/default/
/PIC/PowerSupply_variable.X/dist/default/
/PIC/PowerSupply.X/nbproject/private/
/PIC/PowerSupply_lcd.X/nbproject/private/
/PIC/PowerSupply_lcd_V2/dist/default/